section.left
  background-color: $purple
  border-right: 2em solid $border
  position: fixed
  height: 100vh
  width: 420px
  h1
    font-family: "Press Start 2P"
    text-align: right
    color: $white
    font-size: 3em
    text-transform: uppercase
  h3.tagline
    font-size: 1.5em
    color: $light-purple
    text-align: center
  .contact
    a
      display: block
      line-height: 1.5
